# Guided Project: Designing and Creating a Database

## 1. Exploratory Data Analysis

In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import sqlite3
import csv

In [2]:
#Setting the following options after you import pandas is recommendedâ€“ they will prevent the DataFrame output from being truncated, given the size of the main game log file:
pd.set_option('max_columns', 180)
pd.set_option('max_rows', 1000)
pd.set_option('max_colwidth', 5000)

In [3]:
#Import CSV files
game=pd.read_csv("game_log.csv",low_memory=False)
park=pd.read_csv("park_codes.csv")
person=pd.read_csv("person_codes.csv")
team=pd.read_csv("team_codes.csv")

In [4]:
#Exploratory Data Analysis
print(game.shape)
print(park.shape)
print(person.shape)
print(team.shape)

(171907, 161)
(252, 9)
(20494, 7)
(150, 8)

In [5]:
game.head(5)

,date,number_of_game,day_of_week,v_name,v_league,v_game_number,h_name,h_league,h_game_number,v_score,h_score,length_outs,day_night,completion,forefeit,protest,park_id,attendance,length_minutes,v_line_score,h_line_score,v_at_bats,v_hits,v_doubles,v_triples,v_homeruns,v_rbi,v_sacrifice_hits,v_sacrifice_flies,v_hit_by_pitch,v_walks,v_intentional_walks,v_strikeouts,v_stolen_bases,v_caught_stealing,v_grounded_into_double,v_first_catcher_interference,v_left_on_base,v_pitchers_used,v_individual_earned_runs,v_team_earned_runs,v_wild_pitches,v_balks,v_putouts,v_assists,v_errors,v_passed_balls,v_double_plays,v_triple_plays,h_at_bats,h_hits,h_doubles,h_triples,h_homeruns,h_rbi,h_sacrifice_hits,h_sacrifice_flies,h_hit_by_pitch,h_walks,h_intentional_walks,h_strikeouts,h_stolen_bases,h_caught_stealing,h_grounded_into_double,h_first_catcher_interference,h_left_on_base,h_pitchers_used,h_individual_earned_runs,h_team_earned_runs,h_wild_pitches,h_balks,h_putouts,h_assists,h_errors,h_passed_balls,h_double_plays,h_triple_plays,hp_umpire_id,hp_umpire_name,1b_umpire_id,1b_umpire_name,2b_umpire_id,2b_umpire_name,3b_umpire_id,3b_umpire_name,lf_umpire_id,lf_umpire_name,rf_umpire_id,rf_umpire_name,v_manager_id,v_manager_name,h_manager_id,h_manager_name,winning_pitcher_id,winning_pitcher_name,losing_pitcher_id,losing_pitcher_name,saving_pitcher_id,saving_pitcher_name,winning_rbi_batter_id,winning_rbi_batter_id_name,v_starting_pitcher_id,v_starting_pitcher_name,h_starting_pitcher_id,h_starting_pitcher_name,v_player_1_id,v_player_1_name,v_player_1_def_pos,v_player_2_id,v_player_2_name,v_player_2_def_pos,v_player_3_id,v_player_3_name,v_player_3_def_pos,v_player_4_id,v_player_4_name,v_player_4_def_pos,v_player_5_id,v_player_5_name,v_player_5_def_pos,v_player_6_id,v_player_6_name,v_player_6_def_pos,v_player_7_id,v_player_7_name,v_player_7_def_pos,v_player_8_id,v_player_8_name,v_player_8_def_pos,v_player_9_id,v_player_9_name,v_player_9_def_pos,h_player_1_id,h_player_1_name,h_player_1_def_pos,h_player_2_id,h_player_2_name,h_player_2_def_pos,h_player_3_id,h_player_3_name,h_player_3_def_pos,h_player_4_id,h_player_4_name,h_player_4_def_pos,h_player_5_id,h_player_5_name,h_player_5_def_pos,h_player_6_id,h_player_6_name,h_player_6_def_pos,h_player_7_id,h_player_7_name,h_player_7_def_pos,h_player_8_id,h_player_8_name,h_player_8_def_pos,h_player_9_id,h_player_9_name,h_player_9_def_pos,additional_info,acquisition_info
0,18710504,0,Thu,CL1,NaN,1,FW1,NaN,1,0,2,54.0,D,NaN,NaN,NaN,FOR01,200.0,120.0,000000000,010010000,30.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,6.0,1.0,NaN,-1.0,NaN,4.0,1.0,1.0,1.0,0.0,0.0,27.0,9.0,0.0,3.0,0.0,0.0,31.0,4.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,NaN,-1.0,NaN,3.0,1.0,0.0,0.0,0.0,0.0,27.0,3.0,3.0,1.0,1.0,0.0,boakj901,John Boake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,lennb101,Bill Lennon,mathb101,Bobby Mathews,prata101,Al Pratt,NaN,NaN,NaN,NaN,prata101,Al Pratt,mathb101,Bobby Mathews,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,selmf101,Frank Sellman,5.0,mathb101,Bobby Mathews,1.0,foraj101,Jim Foran,3.0,goldw101,Wally Goldsmith,6.0,lennb101,Bill Lennon,2.0,caret101,Tom Carey,4.0,mince101,Ed Mincher,7.0,mcdej101,James McDermott,8.0,kellb105,Bill Kelly,9.0,NaN,Y
1,18710505,0,Fri,BS1,NaN,1,WS3,NaN,1,20,18,54.0,D,NaN,NaN,NaN,WAS01,5000.0,145.0,107000435,640113030,41.0,13.0,1.0,2.0,0.0,13.0,0.0,0.0,0.0,18.0,NaN,5.0,3.0,NaN,-1.0,NaN,12.0,1.0,6.0,6.0,1.0,0.0,27.0,13.0,10.0,1.0,2.0,0.0,49.0,14.0,2.0,0.0,0.0,11.0,0.0,0.0,0.0,10.0,NaN,2.0,1.0,NaN,-1.0,NaN,14.0,1.0,7.0,7.0,0.0,0.0,27.0,20.0,10.0,2.0,3.0,0.0,dobsh901,Henry Dobson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wrigh101,Harry Wright,younn801,Nick Young,spala101,Al Spalding,braia102,Asa Brainard,NaN,NaN,NaN,NaN,spala101,Al Spalding,braia102,Asa Brainard,wrigg101,George Wright,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,watef102,Fred Waterman,5.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,allid101,Doug Allison,2.0,hallg101,George Hall,7.0,leona101,Andy Leonard,4.0,braia102,Asa Brainard,1.0,burrh101,Henry Burroughs,9.0,berth101,Henry Berthrong,8.0,HTBF,Y
2,18710506,0,Sat,CL1,NaN,2,RC1,NaN,1,12,4,54.0,D,NaN,NaN,NaN,RCK01,1000.0,140.0,610020003,010020100,49.0,11.0,1.0,1.0,0.0,8.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,NaN,-1.0,NaN,10.0,1.0,0.0,0.0,2.0,0.0,27.0,12.0,8.0,5.0,0.0,0.0,36.0,7.0,2.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,NaN,3.0,5.0,NaN,-1.0,NaN,5.0,1.0,3.0,3.0,1.0,0.0,27.0,12.0,13.0,3.0,0.0,0.0,mawnj901,J.H. Manny,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,hasts101,Scott Hastings,prata101,Al Pratt,fishc102,Cherokee Fisher,NaN,NaN,NaN,NaN,prata101,Al Pratt,fishc102,Cherokee Fisher,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mackd101,Denny Mack,3.0,addyb101,Bob Addy,4.0,fishc102,Cherokee Fisher,1.0,hasts101,Scott Hastings,8.0,ham-r101,Ralph Ham,5.0,ansoc101,Cap Anson,2.0,sagep101,Pony Sager,6.0,birdg101,George Bird,7.0,stirg101,Gat Stires,9.0,NaN,Y
3,18710508,0,Mon,CL1,NaN,3,CH1,NaN,1,12,14,54.0,D,NaN,NaN,NaN,CHI01,5000.0,150.0,101403111,077000000,46.0,15.0,2.0,1.0,2.0,10.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,NaN,-1.0,NaN,7.0,1.0,6.0,6.0,0.0,0.0,27.0,15.0,11.0,6.0,0.0,0.0,43.0,11.0,2.0,0.0,0.0,8.0,0.0,0.0,0.0,4.0,NaN,2.0,1.0,NaN,-1.0,NaN,6.0,1.0,4.0,4.0,0.0,0.0,27.0,14.0,7.0,2.0,0.0,0.0,willg901,Gardner Willard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,woodj106,Jimmy Wood,zettg101,George Zettlein,prata101,Al Pratt,NaN,NaN,NaN,NaN,prata101,Al Pratt,zettg101,George Zettlein,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mcatb101,Bub McAtee,3.0,kingm101,Marshall King,8.0,hodec101,Charlie Hodes,2.0,woodj106,Jimmy Wood,4.0,simmj101,Joe Simmons,9.0,folet101,Tom Foley,7.0,duffe101,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,NaN,Y
4,18710509,0,Tue,BS1,NaN,2,TRO,NaN,1,9,5,54.0,D,NaN,NaN,NaN,TRO01,3250.0,145.0,000002232,101003000,46.0,17.0,4.0,1.0,0.0,6.0,0.0,0.0,0.0,2.0,NaN,0.0,1.0,NaN,-1.0,NaN,12.0,1.0,2.0,2.0,0.0,0.0,27.0,12.0,5.0,0.0,1.0,0.0,36.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,NaN,0.0,2.0,NaN,-1.0,NaN,7.0,1.0,3.0,3.0,1.0,0.0,27.0,11.0,7.0,3.0,0.0,0.0,leroi901,Isaac Leroy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wrigh101,Harry Wright,pikel101,Lip Pike,spala101,Al Spalding,mcmuj101,John McMullin,NaN,NaN,NaN,NaN,spala101,Al Spalding,mcmuj101,John McMullin,wrigg101,George Wright,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,flync101,Clipper Flynn,9.0,mcgem101,Mike McGeary,2.0,yorkt101,Tom York,8.0,mcmuj101,John McMullin,1.0,kings101,Steve King,7.0,beave101,Edward Beavens,4.0,bells101,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,HTBF,Y

In [6]:
game.tail(5)

,date,number_of_game,day_of_week,v_name,v_league,v_game_number,h_name,h_league,h_game_number,v_score,h_score,length_outs,day_night,completion,forefeit,protest,park_id,attendance,length_minutes,v_line_score,h_line_score,v_at_bats,v_hits,v_doubles,v_triples,v_homeruns,v_rbi,v_sacrifice_hits,v_sacrifice_flies,v_hit_by_pitch,v_walks,v_intentional_walks,v_strikeouts,v_stolen_bases,v_caught_stealing,v_grounded_into_double,v_first_catcher_interference,v_left_on_base,v_pitchers_used,v_individual_earned_runs,v_team_earned_runs,v_wild_pitches,v_balks,v_putouts,v_assists,v_errors,v_passed_balls,v_double_plays,v_triple_plays,h_at_bats,h_hits,h_doubles,h_triples,h_homeruns,h_rbi,h_sacrifice_hits,h_sacrifice_flies,h_hit_by_pitch,h_walks,h_intentional_walks,h_strikeouts,h_stolen_bases,h_caught_stealing,h_grounded_into_double,h_first_catcher_interference,h_left_on_base,h_pitchers_used,h_individual_earned_runs,h_team_earned_runs,h_wild_pitches,h_balks,h_putouts,h_assists,h_errors,h_passed_balls,h_double_plays,h_triple_plays,hp_umpire_id,hp_umpire_name,1b_umpire_id,1b_umpire_name,2b_umpire_id,2b_umpire_name,3b_umpire_id,3b_umpire_name,lf_umpire_id,lf_umpire_name,rf_umpire_id,rf_umpire_name,v_manager_id,v_manager_name,h_manager_id,h_manager_name,winning_pitcher_id,winning_pitcher_name,losing_pitcher_id,losing_pitcher_name,saving_pitcher_id,saving_pitcher_name,winning_rbi_batter_id,winning_rbi_batter_id_name,v_starting_pitcher_id,v_starting_pitcher_name,h_starting_pitcher_id,h_starting_pitcher_name,v_player_1_id,v_player_1_name,v_player_1_def_pos,v_player_2_id,v_player_2_name,v_player_2_def_pos,v_player_3_id,v_player_3_name,v_player_3_def_pos,v_player_4_id,v_player_4_name,v_player_4_def_pos,v_player_5_id,v_player_5_name,v_player_5_def_pos,v_player_6_id,v_player_6_name,v_player_6_def_pos,v_player_7_id,v_player_7_name,v_player_7_def_pos,v_player_8_id,v_player_8_name,v_player_8_def_pos,v_player_9_id,v_player_9_name,v_player_9_def_pos,h_player_1_id,h_player_1_name,h_player_1_def_pos,h_player_2_id,h_player_2_name,h_player_2_def_pos,h_player_3_id,h_player_3_name,h_player_3_def_pos,h_player_4_id,h_player_4_name,h_player_4_def_pos,h_player_5_id,h_player_5_name,h_player_5_def_pos,h_player_6_id,h_player_6_name,h_player_6_def_pos,h_player_7_id,h_player_7_name,h_player_7_def_pos,h_player_8_id,h_player_8_name,h_player_8_def_pos,h_player_9_id,h_player_9_name,h_player_9_def_pos,additional_info,acquisition_info
171902,20161002,0,Sun,MIL,NL,162,COL,NL,162,6,4,60.0,D,NaN,NaN,NaN,DEN02,27762.0,203.0,0200000202,1100100010,39.0,10.0,4.0,1.0,2.0,6.0,0.0,0.0,1.0,4.0,0.0,12.0,2.0,1.0,0.0,0.0,8.0,7.0,4.0,4.0,1.0,0.0,30.0,12.0,1.0,0.0,0.0,0.0,41.0,13.0,4.0,0.0,1.0,4.0,1.0,0.0,1.0,3.0,0.0,11.0,0.0,1.0,0.0,0.0,12.0,5.0,6.0,6.0,0.0,0.0,30.0,13.0,0.0,0.0,0.0,0.0,barrs901,Scott Barry,woodt901,Tom Woodring,randt901,Tony Randazzo,ortir901,Roberto Ortiz,NaN,NaN,NaN,NaN,counc001,Craig Counsell,weisw001,Walt Weiss,thort001,Tyler Thornburg,rusic001,Chris Rusin,knebc001,Corey Knebel,susaa001,Andrew Susac,cravt001,Tyler Cravy,marqg001,German Marquez,villj001,Jonathan Villar,5.0,genns001,Scooter Gennett,4.0,cartc002,Chris Carter,3.0,santd002,Domingo Santana,9.0,pereh001,Hernan Perez,8.0,arcio002,Orlando Arcia,6.0,susaa001,Andrew Susac,2.0,elmoj001,Jake Elmore,7.0,cravt001,Tyler Cravy,1.0,blacc001,Charlie Blackmon,8.0,dahld001,David Dahl,7.0,arenn001,Nolan Arenado,5.0,gonzc001,Carlos Gonzalez,9.0,murpt002,Tom Murphy,2.0,pattj005,Jordan Patterson,3.0,valap001,Pat Valaika,4.0,adamc001,Cristhian Adames,6.0,marqg001,German Marquez,1.0,NaN,Y
171903,20161002,0,Sun,NYN,NL,162,PHI,NL,162,2,5,51.0,D,NaN,NaN,NaN,PHI13,36935.0,159.0,000001100,00100031x,33.0,8.0,3.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,9.0,1.0,1.0,1.0,0.0,6.0,6.0,3.0,3.0,0.0,0.0,24.0,12.0,3.0,1.0,2.0,0.0,33.0,10.0,1.0,0.0,0.0,3.0,0.0,1.0,0.0,2.0,0.0,3.0,0.0,0.0,2.0,0.0,7.0,5.0,2.0,2.0,0.0,0.0,27.0,7.0,0.0,0.0,1.0,0.0,barkl901,Lance Barksdale,herna901,Angel Hernandez,barrt901,Ted Barrett,littw901,Will Little,NaN,NaN,NaN,NaN,collt801,Terry Collins,mackp101,Pete Mackanin,murrc002,Colton Murray,goede001,Erik Goeddel,nerih001,Hector Neris,hernc005,Cesar Hernandez,ynoag001,Gabriel Ynoa,eickj001,Jerad Eickhoff,granc001,Curtis Granderson,8.0,cabra002,Asdrubal Cabrera,6.0,brucj001,Jay Bruce,9.0,dudal001,Lucas Duda,3.0,johnk003,Kelly Johnson,4.0,confm001,Michael Conforto,7.0,campe001,Eric Campbell,5.0,plawk001,Kevin Plawecki,2.0,ynoag001,Gabriel Ynoa,1.0,hernc005,Cesar Hernandez,4.0,parej002,Jimmy Paredes,7.0,herro001,Odubel Herrera,8.0,franm004,Maikel Franco,5.0,howar001,Ryan Howard,3.0,ruppc001,Cameron Rupp,2.0,blana001,Andres Blanco,6.0,altha001,Aaron Altherr,9.0,eickj001,Jerad Eickhoff,1.0,NaN,Y
171904,20161002,0,Sun,LAN,NL,162,SFN,NL,162,1,7,51.0,D,NaN,NaN,NaN,SFO03,41445.0,184.0,000100000,23000002x,30.0,4.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,7.0,0.0,0.0,1.0,0.0,4.0,7.0,7.0,7.0,0.0,0.0,24.0,5.0,1.0,0.0,0.0,0.0,39.0,16.0,3.0,1.0,0.0,7.0,0.0,0.0,0.0,4.0,1.0,11.0,2.0,1.0,0.0,0.0,12.0,2.0,1.0,1.0,0.0,0.0,27.0,7.0,0.0,0.0,1.0,0.0,knigb901,Brian Knight,westj901,Joe West,fleta901,Andy Fletcher,danlk901,Kerwin Danley,NaN,NaN,NaN,NaN,robed001,Dave Roberts,bochb002,Bruce Bochy,moorm003,Matt Moore,maedk001,Kenta Maeda,NaN,NaN,poseb001,Buster Posey,maedk001,Kenta Maeda,moorm003,Matt Moore,kendh001,Howie Kendrick,7.0,turnj001,Justin Turner,5.0,seagc001,Corey Seager,6.0,puigy001,Yasiel Puig,9.0,gonza003,Adrian Gonzalez,3.0,grany001,Yasmani Grandal,2.0,pedej001,Joc Pederson,8.0,utlec001,Chase Utley,4.0,maedk001,Kenta Maeda,1.0,spand001,Denard Span,8.0,beltb001,Brandon Belt,3.0,poseb001,Buster Posey,2.0,pench001,Hunter Pence,9.0,crawb001,Brandon Crawford,6.0,pagaa001,Angel Pagan,7.0,panij002,Joe Panik,4.0,gillc001,Conor Gillaspie,5.0,moorm003,Matt Moore,1.0,NaN,Y
171905,20161002,0,Sun,PIT,NL,162,SLN,NL,162,4,10,51.0,D,NaN,NaN,NaN,STL10,44615.0,192.0,000020200,00100360x,35.0,9.0,0.0,0.0,1.0,4.0,0.0,0.0,0.0,4.0,0.0,11.0,0.0,1.0,0.0,0.0,8.0,6.0,8.0,8.0,0.0,0.0,24.0,2.0,2.0,0.0,0.0,0.0,36.0,12.0,2.0,0.0,1.0,10.0,0.0,2.0,0.0,4.0,0.0,5.0,0.0,0.0,0.0,0.0,8.0,3.0,4.0,4.0,0.0,0.0,27.0,7.0,0.0,0.0,1.0,0.0,cuzzp901,Phil Cuzzi,ticht901,Todd Tichenor,vanol901,Larry Vanover,marqa901,Alfonso Marquez,NaN,NaN,NaN,NaN,hurdc001,Clint Hurdle,mathm001,Mike Matheny,broxj001,Jonathan Broxton,nicaj001,Juan Nicasio,NaN,NaN,piscs001,Stephen Piscotty,voger001,Ryan Vogelsong,waina001,Adam Wainwright,jasoj001,John Jaso,3.0,polag001,Gregory Polanco,9.0,mccua001,Andrew McCutchen,8.0,kangj001,Jung Ho Kang,5.0,joycm001,Matt Joyce,7.0,hansa001,Alen Hanson,4.0,fryee001,Eric Fryer,2.0,florp001,Pedro Florimon,6.0,voger001,Ryan Vogelsong,1.0,carpm002,Matt Carpenter,3.0,diaza003,Aledmys Diaz,6.0,moliy001,Yadier Molina,2.0,piscs001,Stephen Piscotty,9.0,peraj001,Jhonny Peralta,5.0,mossb001,Brandon Moss,7.0,gyorj001,Jedd Gyorko,4.0,gricr001,Randal Grichuk,8.0,waina001,Adam Wainwright,1.0,NaN,Y
171906,20161002,0,Sun,MIA,NL,161,WAS,NL,162,7,10,51.0,D,NaN,NaN,NaN,WAS11,28730.0,216.0,000230020,03023002x,38.0,14.0,1.0,1.0,2.0,7.0,1.0,0.0,0.0,3.0,2.0,10.0,1.0,1.0,1.0,0.0,8.0,7.0,10.0,10.0,1.0,0.0,24.0,11.0,0.0,0.0,1.0,0.0,30.0,10.0,2.0,0.0,1.0,10.0,1.0,1.0,1.0,8.0,0.0,3.0,2.0,0.0,1.0,0.0,7.0,6.0,7.0,7.0,1.0,0.0,27.0,11.0,0.0,0.0,1.0,0.0,tumpj901,John Tumpane,porta901,Alan Porter,onorb901,Brian O'Nora,kellj901,Jeff Kellogg,NaN,NaN,NaN,NaN,mattd001,Don Mattingly,baked002,Dusty Baker,schem001,Max Scherzer,brica001,Austin Brice,melam001,Mark Melancon,difow001,Wilmer Difo,koeht001,Tom Koehler,schem001,Max Scherzer,gordd002,Dee Gordon,4.0,telit001,Tomas Telis,2.0,pradm001,Martin Prado,5.0,yelic001,Christian Yelich,8.0,bourj002,Justin Bour,3.0,scrux001,Xavier Scruggs,7.0,hoodd001,Destin Hood,9.0,hecha001,Adeiny Hechavarria,6.0,koeht001,Tom Koehler,1.0,turnt001,Trea Turner,8.0,reveb001,Ben Revere,7.0,harpb003,Bryce Harper,9.0,zimmr001,Ryan Zimmerman,3.0,drews001,Stephen Drew,5.0,difow001,Wilmer Difo,4.0,espid001,Danny Espinosa,6.0,lobaj001,Jose Lobaton,2.0,schem001,Max Scherzer,1.0,NaN,Y

In [7]:
park.head(5)

,park_id,name,aka,city,state,start,end,league,notes
0,ALB01,Riverside Park,NaN,Albany,NY,09/11/1880,05/30/1882,NL,TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1,ALT01,Columbia Park,NaN,Altoona,PA,04/30/1884,05/31/1884,UA,NaN
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,04/19/1966,NaN,AL,NaN
3,ARL01,Arlington Stadium,NaN,Arlington,TX,04/21/1972,10/03/1993,AL,NaN
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,04/11/1994,NaN,AL,NaN

In [8]:
park.tail(5)

,park_id,name,aka,city,state,start,end,league,notes
247,WIL02,BB&T Ballpark at Bowman Field,NaN,Wiliamsport,PA,08/20/2017,08/20/2017,NL,PIT
248,WNY01,West New York Field Club Grounds,NaN,West New York,NJ,09/11/1898,09/17/1899,NL,"BRO:9/18&10/2/1898; NY1:9/11/98, 6/4&7/16&8/13&9/17/99"
249,WOR01,Agricultural County Fair Grounds I,NaN,Worcester,MA,05/01/1880,09/29/1882,NL,NaN
250,WOR02,Agricultural County Fair Grounds II,NaN,Worcester,MA,08/17/1887,08/17/1887,NL,1 BSN game
251,WOR03,Worcester Driving Park Grounds,NaN,Worcester,MA,10/30/1874,10/30/1874,NaN,1 BS1 game

In [9]:
person.head(5)

         id     last   first player_debut mgr_debut coach_debut ump_debut
0  aardd001  Aardsma   David   04/06/2004       NaN         NaN       NaN
1  aaroh101    Aaron    Hank   04/13/1954       NaN         NaN       NaN
2  aarot101    Aaron  Tommie   04/10/1962       NaN  04/06/1979       NaN
3  aased001     Aase     Don   07/26/1977       NaN         NaN       NaN
4  abada001     Abad    Andy   09/10/2001       NaN         NaN       NaN

In [10]:
person.tail(5)

             id      last   first player_debut mgr_debut coach_debut ump_debut
20489  zuvep001   Zuvella    Paul   09/04/1982       NaN  04/02/1996       NaN
20490  zuveg101  Zuverink  George   04/21/1951       NaN         NaN       NaN
20491  zwild101  Zwilling   Dutch   08/14/1910       NaN  04/15/1941       NaN
20492  zycht001      Zych    Tony   09/04/2015       NaN         NaN       NaN
20493  thoma102  Thompson     NaN          NaN       NaN         NaN       NaN

In [11]:
team.head(10)

  team_id league  start   end       city         nickname franch_id  seq
0     ALT     UA   1884  1884    Altoona  Mountain Cities       ALT    1
1     ARI     NL   1998     0    Arizona     Diamondbacks       ARI    1
2     BFN     NL   1879  1885    Buffalo           Bisons       BFN    1
3     BFP     PL   1890  1890    Buffalo           Bisons       BFP    1
4     BL1    NaN   1872  1874  Baltimore         Canaries       BL1    1
5     BL2     AA   1882  1891  Baltimore          Orioles       BL2    1
6     BLN     NL   1892  1899  Baltimore          Orioles       BL2    2
7     BL4    NaN   1873  1873  Baltimore        Marylands       BL4    1
8     BLA     AL   1901  1902  Baltimore          Orioles       BLA    1
9     NYA     AL   1903     0   New York          Yankees       BLA    2

In [12]:
team.tail(5)

    team_id league  start   end        city   nickname franch_id  seq
145     WS8     NL   1886  1889  Washington   Senators       WS8    1
146     WS9     AA   1891  1891  Washington   Senators       WS9    1
147     WSN     NL   1892  1899  Washington   Senators       WS9    2
148     WSU     UA   1884  1884  Washington  Nationals       WSU    1
149     MIA     NL   2012     0       Miami    Marlins       FLO    2

In [13]:
game.columns

Index(['date', 'number_of_game', 'day_of_week', 'v_name', 'v_league',
       'v_game_number', 'h_name', 'h_league', 'h_game_number', 'v_score',
       ...
       'h_player_7_name', 'h_player_7_def_pos', 'h_player_8_id',
       'h_player_8_name', 'h_player_8_def_pos', 'h_player_9_id',
       'h_player_9_name', 'h_player_9_def_pos', 'additional_info',
       'acquisition_info'],
      dtype='object', length=161)

In [14]:
park.columns

Index(['park_id', 'name', 'aka', 'city', 'state', 'start', 'end', 'league',
       'notes'],
      dtype='object')

In [15]:
person.columns

Index(['id', 'last', 'first', 'player_debut', 'mgr_debut', 'coach_debut',
       'ump_debut'],
      dtype='object')

In [16]:
team.columns

Index(['team_id', 'league', 'start', 'end', 'city', 'nickname', 'franch_id',
       'seq'],
      dtype='object')

### game_log.csv
It looks like the game log has a record of over 170,000 games. It looks like these games are chronologically ordered and occur between 1871 and 2016.

For each game we have:

general information on the game
team level stats for each team
a list of players from each team, numbered, with their defensive positions
the umpires that officiated the game
some 'awards', like winning and losing pitcher
We have a game_log_fields.txt file that tell us that the player number corresponds with the order in which they batted.

It's worth noting that there is no natural primary key column for this table.
FOREIGN KEYS include park_id

### park_codes.csv
This seems to be a list of all baseball parks. There are IDs which seem to match with the game log, as well as names, nicknames, city and league.

### person_codes.csv
This seems to be a list of people with IDs. The IDs look like they match up with those used in the game log. There are debut dates, for players, managers, coaches and umpires. We can see that some people might have been one or more of these roles.

It also looks like coaches and managers are two different things in baseball. After some research, managers are what would be called a 'coach' or 'head coach' in other sports, and coaches are more specialized, like base coaches. It also seems like coaches aren't recorded in the game log.

### team_codes.csv
This seems to be a list of all teams, with team_ids which seem to match the game log. Interestingly, there is a FOREIGN ID named: "<b>franch_id</b>", let's take a look at this:

In [17]:
team["franch_id"].value_counts()

BS1    4
BR3    3
PHA    3
LAA    3
MLA    3
SE1    3
TRN    3
BL2    2
MON    2
WS1    2
HR1    2
IND    2
CL3    2
BLA    2
PT1    2
LS2    2
NY2    2
BSP    2
WS2    2
PH1    2
CH2    2
SLU    2
WS9    2
SL2    2
SL4    2
FLO    2
CN2    2
BR2    1
WS6    1
TL2    1
SR1    1
COL    1
WS3    1
MID    1
CN1    1
PH3    1
KCN    1
FW1    1
PH2    1
PH4    1
BUF    1
IN3    1
CLP    1
WS8    1
CN3    1
BR1    1
WS4    1
SDN    1
TL1    1
LS1    1
SPU    1
TRO    1
BSU    1
ML3    1
BRP    1
BFN    1
BOS    1
WS5    1
ALT    1
BR4    1
BRF    1
PHP    1
SL1    1
WS7    1
IN2    1
CH1    1
NY4    1
KEO    1
TBA    1
TOR    1
WSU    1
WOR    1
CL1    1
KC2    1
CHA    1
ARI    1
CHP    1
RC2    1
SLF    1
PTU    1
NYP    1
SEA    1
HOU    1
BLU    1
PTF    1
NH1    1
KCA    1
BFP    1
NYN    1
WIL    1
CL2    1
IN1    1
CL6    1
CLE    1
PTP    1
KCU    1
PHU    1
ELI    1
BLF    1
SR2    1
DTN    1
KCF    1
PHI    1
MLU    1
CHU    1
PRO    1
CNU    1
DET    1
RC1    1
ML1    1
BL4    1
RIC    1
CHF    1
BL1    1
CL5    1
Name: franch_id, dtype: int64

In [18]:
team[team["franch_id"]=="BS1"]

   team_id league  start   end       city nickname franch_id  seq
21     BS1    NaN   1871  1875     Boston   Braves       BS1    1
22     BSN     NL   1876  1952     Boston   Braves       BS1    2
23     MLN     NL   1953  1965  Milwaukee   Braves       BS1    3
24     ATL     NL   1966     0    Atlanta   Braves       BS1    4

It appears that teams move between leagues and cities. The team_id changes when this happens, franch_id (which is probably 'Franchise') helps us tie all of this together.

<b>Defensive Positions</b>

In the game log, each player has a defensive position listed, which seems to be a number between 1-10. Doing some research around this, I found this article which gives us a list of names for each numbered position:

<l>Pitcher
<l>Catcher
<l>1st Base
<l>2nd Base
<l>3rd Base
<l>Shortstop
<l>Left Field
<l>Center Field
<l>Right Field
The 10th position isn't included, it may be a way of describing a designated hitter that does not field. I can find a retrosheet page that indicates that position 0 is used for this, but we don't have any position 0 in our data. I have chosen to make this an 'Unknown Position' so I'm not including data based on a hunch.

<b>Leagues</b>

Wikipedia tells us there are currently two leagues - the American (AL) and National (NL). Let's start by finding out what leagues are listed in the main game log:

In [19]:
print(team["league"].value_counts())
print(team["league"].value_counts().shape)

NL    45
AL    25
AA    24
UA    13
FL     9
PL     8
Name: league, dtype: int64
(6,)

It looks like most of our games fall into the two current leagues, but that there are four other leagues. Let's write a quick function to get some info on the years of these leagues:

In [20]:
leagues={}
league_names=team["league"].unique()

for i in league_names:
    df=team[team["league"]==i]
    league=i
    earliest=df["start"].min()
    latest=df["end"].max()
    print("{} went from {} to {}".format(league,earliest,latest))

UA went from 1884 to 1884
NL went from 1876 to 2011
PL went from 1890 to 1890
nan went from nan to nan
AA went from 1882 to 1891
AL went from 1901 to 1997
FL went from 1914 to 1915

Now we have some years which will help us do some research. After some googling we come up with:

NL: National League
AL: American League
AA: American Association
FL: Federal League
PL: Players League
UA: Union Association

It also looks like we have about 1000 games where the home team doesn't have a value for league.

## 2. Importing Data into SQLite

Our next task is to import the data into SQLite. There are three key ways to import data into a SQLite database:
<l>1.Using the Python SQLite library
<l>2.Using pandas
<l>3.From the SQLite shell
We'll use the pandas method in this instance, because we've already read the data into dataframes. 
The pandas library includes a handy DataFrame.to_sql() method that we can use to send the contents of a dataframe to a SQLite connection object.
my_dataframe.to_sql('table_name', sqlite_connection_object, index=False)
Most of the time, we'll want to use index=False, otherwise pandas will create an extra column for the pandas index.

In [21]:
#Create a run_query() function, that takes a SQL query as an argument and returns a pandas dataframe of that query.
def run_query(q):
    with sqlite3.connect('mlb.db') as conn:
    # we can now access `conn`
        return pd.read_sql(q, conn)

In [22]:
#Create a run_command() function that takes a SQL command as an argument and executes it using the sqlite module.
def run_command(c):
    with sqlite3.connect('mlb.db') as conn:
        conn.isolation_level = None
        conn.execute(c)

In [23]:
#Create a show_tables() function that calls the run_query() function to return a list of all tables and views in the database.
def show_tables():
    query='''
    SELECT
        name,
        type
    FROM sqlite_master
    WHERE type IN ("table","view");
    '''
    return run_query(query)

In [24]:
#Use DataFrame.to_sql() to create tables for each of our dataframes in a new SQLite database, mlb.db:
#The table name should be the same as each of the CSV filename without the extension, eg game_log.csv should be imported to a table called game_log.
tables = {
    "game_log": game,
    "person_codes": person,
    "team_codes": team,
    "park_codes": park
}

with sqlite3.connect('mlb.db') as conn:    
    for name, data in tables.items():
        conn.execute("DROP TABLE IF EXISTS {};".format(name))
        data.to_sql(name,conn,index=False)

In [25]:
print(show_tables())

               name   type
0            person  table
1              park  table
2            league  table
3        appearance  table
4   appearance_type  table
5              team  table
6              game  table
7        park_codes  table
8          game_log  table
9      person_codes  table
10       team_codes  table

In [26]:
#Using run_command(), create a new column in the game_log table called game_id:
c1='''
    ALTER TABLE game_log 
    ADD COLUMN game_id TEXT;
    '''

# try/except loop since ALTER TABLE
# doesn't support IF NOT EXISTS
try:
    run_command(c1)
except:
    pass

#Use SQL string concatenation to update the new columns with a unique ID using the Retrosheet format outlined above.
c2='''
    UPDATE game_log
    SET game_id = date||h_name||number_of_game
    /* WHERE prevents this if it has already been done */
    WHERE game_id IS NULL; 
    '''
run_command(c2)

In [27]:
#Check game_id
q1='''
    SELECT game_id,date,h_name,number_of_game
    FROM game_log
    LIMIT 10;
'''

run_query(q1)

        game_id      date h_name  number_of_game
0  18710504FW10  18710504    FW1               0
1  18710505WS30  18710505    WS3               0
2  18710506RC10  18710506    RC1               0
3  18710508CH10  18710508    CH1               0
4  18710509TRO0  18710509    TRO               0
5  18710511CL10  18710511    CL1               0
6  18710513CL10  18710513    CL1               0
7  18710513FW10  18710513    FW1               0
8  18710515FW10  18710515    FW1               0
9  18710516BS10  18710516    BS1               0

## 3. Looking for Normalization Opportunities


The following are opportunities for normalization of our data:
<ul>
<li>In person_codes, all the debut dates will be able to be reproduced using game log data.</li>
<li>In team_codes, the start, end and sequence columns will be able to be reproduced using game log data.</li>
<li>In park_codes, the start and end years will be able to be reproduced using game log data. While technically the state is an attribute of the city, we might not want to have a an incomplete city/state table so we will leave this in.</li>
<li>There are lots of places in game log where we have a player ID followed by the players name. We will be able to remove this and use the name data in person_codes</li>
<li>In game_log, all offensive and defensive stats are repeated for the home team and the visiting team. We could break these out and have a table that lists each game twice, one for each team, and cut out this column repetition.</li>
<li>Similarly, in game_log, we have a listing for 9 players on each team with their positions - we can remove these and have one table that tracks player appearances and their positions.</li>
<li>We can do a similar thing with the umpires from game_log, instead of listing all four positions as columns, we can put the umpires either in their own table or make one table for players, umpires and managers.</li>
<li>We have several awards in game_log like winning pitcher and losing pitcher. We can either break these out into their own table, have a table for awards, or combine the awards in with general appearances like the players and umpires.</li>
<ul>

## 4. Planning a Normalized Schema

In [28]:
#Using whichever design tool you feel most comfortable with, plan a schema for our baseball database.
#Investigating game.columns
liste=game.columns
print(liste[0:100])
print(liste[101:180])

Index(['date', 'number_of_game', 'day_of_week', 'v_name', 'v_league',
       'v_game_number', 'h_name', 'h_league', 'h_game_number', 'v_score',
       'h_score', 'length_outs', 'day_night', 'completion', 'forefeit',
       'protest', 'park_id', 'attendance', 'length_minutes', 'v_line_score',
       'h_line_score', 'v_at_bats', 'v_hits', 'v_doubles', 'v_triples',
       'v_homeruns', 'v_rbi', 'v_sacrifice_hits', 'v_sacrifice_flies',
       'v_hit_by_pitch', 'v_walks', 'v_intentional_walks', 'v_strikeouts',
       'v_stolen_bases', 'v_caught_stealing', 'v_grounded_into_double',
       'v_first_catcher_interference', 'v_left_on_base', 'v_pitchers_used',
       'v_individual_earned_runs', 'v_team_earned_runs', 'v_wild_pitches',
       'v_balks', 'v_putouts', 'v_assists', 'v_errors', 'v_passed_balls',
       'v_double_plays', 'v_triple_plays', 'h_at_bats', 'h_hits', 'h_doubles',
       'h_triples', 'h_homeruns', 'h_rbi', 'h_sacrifice_hits',
       'h_sacrifice_flies', 'h_hit_by_pitch', 'h_walks', 'h_intentional_walks',
       'h_strikeouts', 'h_stolen_bases', 'h_caught_stealing',
       'h_grounded_into_double', 'h_first_catcher_interference',
       'h_left_on_base', 'h_pitchers_used', 'h_individual_earned_runs',
       'h_team_earned_runs', 'h_wild_pitches', 'h_balks', 'h_putouts',
       'h_assists', 'h_errors', 'h_passed_balls', 'h_double_plays',
       'h_triple_plays', 'hp_umpire_id', 'hp_umpire_name', '1b_umpire_id',
       '1b_umpire_name', '2b_umpire_id', '2b_umpire_name', '3b_umpire_id',
       '3b_umpire_name', 'lf_umpire_id', 'lf_umpire_name', 'rf_umpire_id',
       'rf_umpire_name', 'v_manager_id', 'v_manager_name', 'h_manager_id',
       'h_manager_name', 'winning_pitcher_id', 'winning_pitcher_name',
       'losing_pitcher_id', 'losing_pitcher_name', 'saving_pitcher_id',
       'saving_pitcher_name', 'winning_rbi_batter_id'],
      dtype='object')
Index(['v_starting_pitcher_id', 'v_starting_pitcher_name',
       'h_starting_pitcher_id', 'h_starting_pitcher_name', 'v_player_1_id',
       'v_player_1_name', 'v_player_1_def_pos', 'v_player_2_id',
       'v_player_2_name', 'v_player_2_def_pos', 'v_player_3_id',
       'v_player_3_name', 'v_player_3_def_pos', 'v_player_4_id',
       'v_player_4_name', 'v_player_4_def_pos', 'v_player_5_id',
       'v_player_5_name', 'v_player_5_def_pos', 'v_player_6_id',
       'v_player_6_name', 'v_player_6_def_pos', 'v_player_7_id',
       'v_player_7_name', 'v_player_7_def_pos', 'v_player_8_id',
       'v_player_8_name', 'v_player_8_def_pos', 'v_player_9_id',
       'v_player_9_name', 'v_player_9_def_pos', 'h_player_1_id',
       'h_player_1_name', 'h_player_1_def_pos', 'h_player_2_id',
       'h_player_2_name', 'h_player_2_def_pos', 'h_player_3_id',
       'h_player_3_name', 'h_player_3_def_pos', 'h_player_4_id',
       'h_player_4_name', 'h_player_4_def_pos', 'h_player_5_id',
       'h_player_5_name', 'h_player_5_def_pos', 'h_player_6_id',
       'h_player_6_name', 'h_player_6_def_pos', 'h_player_7_id',
       'h_player_7_name', 'h_player_7_def_pos', 'h_player_8_id',
       'h_player_8_name', 'h_player_8_def_pos', 'h_player_9_id',
       'h_player_9_name', 'h_player_9_def_pos', 'additional_info',
       'acquisition_info'],
      dtype='object')

https://www.dbdesigner.net
![Alt text](C:\Users\Familie Leung\Documents\CHL\DataQuest\Guided Project Designing and Creating a Database.jpg)

## 5. Creating Tables Without Foreign Key Relations

In [29]:
#Create the person table with columns and primary key as shown in the schema diagram.
c3='''
    CREATE TABLE IF NOT EXISTS person (
    person_id TEXT PRIMARY KEY,
    first_name TEXT,
    last_name TEXT
    );
'''
run_command(c3)

#Insert the data from the person_codes table.
c4='''
    INSERT OR IGNORE INTO person 
    SELECT 
        id,
        first,
        last
    FROM person_codes
    ;
'''
run_command(c4)

#Write a query to display the first few rows of the table.
q2='''
    SELECT * FROM person
    LIMIT 10
'''
print(run_query(q2))

  person_id first_name    last_name
0  aardd001      David      Aardsma
1  aaroh101       Hank        Aaron
2  aarot101     Tommie        Aaron
3  aased001        Don         Aase
4  abada001       Andy         Abad
5  abadf001   Fernando         Abad
6  abadj101       John       Abadie
7  abbae101         Ed  Abbaticchio
8  abbeb101       Bert        Abbey
9  abbec101    Charlie        Abbey

In [30]:
#Create the park table with columns and primary key as shown in the schema diagram.
c5='''
    CREATE TABLE IF NOT EXISTS park (
    park_id TEXT PRIMARY KEY,
    name TEXT,
    nickname TEXT,
    city TEXT,
    state TEXT,
    notes TEXT
    );
'''
run_command(c5)

#Insert the data from the park_codes table.
c6='''
    INSERT OR IGNORE INTO park 
    SELECT 
        park_id,
        name,
        aka,
        city,
        state,
        notes
    FROM park_codes
    ;
'''
run_command(c6)

#Write a query to display the first few rows of the table.
q3='''
    SELECT * FROM park
    LIMIT 10
'''
print(run_query(q3))

  park_id                           name  \
0   ALB01                 Riverside Park
1   ALT01                  Columbia Park
2   ANA01       Angel Stadium of Anaheim
3   ARL01              Arlington Stadium
4   ARL02  Rangers Ballpark in Arlington
5   ATL01  Atlanta-Fulton County Stadium
6   ATL02                   Turner Field
7   ATL03                  Suntrust Park
8   BAL01         Madison Avenue Grounds
9   BAL02                 Newington Park

                                   nickname       city state  \
0                                      None     Albany    NY
1                                      None    Altoona    PA
2             Edison Field; Anaheim Stadium    Anaheim    CA
3                                      None  Arlington    TX
4  The Ballpark in Arlington; Ameriquest Fl  Arlington    TX
5                                      None    Atlanta    GA
6                                      None    Atlanta    GA
7                                      None    Atlanta    GA
8                                      None  Baltimore    MD
9                                      None  Baltimore    MD

                                            notes
0  TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1                                            None
2                                            None
3                                            None
4                                            None
5                                            None
6                                            None
7                                            None
8                                             WS3
9                BL1:1872-74; BL4:1873; BL2: 1882

In [31]:
#Create the league table with columns and primary key as shown in the schema diagram.
c7='''
    CREATE TABLE IF NOT EXISTS league (
    league_id TEXT PRIMARY KEY,
    name TEXT
    );
'''
run_command(c7)

#Insert the data manually based on your research on the names of the six league IDs.
c8='''
    INSERT OR IGNORE INTO league 
    VALUES 
        ("NL","National League"),
        ("AL","American League"),
        ("AA","American Association"),
        ("FL","Federal League"),
        ("PL","Players League"),
        ("UA","Union Association")
    ;
'''
run_command(c8)

#Write a query to display the first few rows of the table.
q4='''
    SELECT * FROM league
'''
print(run_query(q4))

   league_id                  name
0         UA     Union Association
1         NL       National League
2         PL        Players League
3       None               UNKNOWN
4         AA  American Association
5       None               UNKNOWN
6         AL       American League
7         FL        Federal League
8       None               UNKNOWN
9       None               UNKNOWN
10      None               UNKNOWN
11      None               UNKNOWN
12      None               UNKNOWN
13      None               UNKNOWN
14      None               UNKNOWN
15      None               UNKNOWN
16      None               UNKNOWN
17      None               UNKNOWN
18      None               UNKNOWN
19      None               UNKNOWN
20      None               UNKNOWN
21      None               UNKNOWN
22      None               UNKNOWN
23      None               UNKNOWN
24      None               UNKNOWN
25      None               UNKNOWN
26      None               UNKNOWN
27      None               UNKNOWN
28      None               UNKNOWN
29      None               UNKNOWN
30      None               UNKNOWN
31      None               UNKNOWN
32      None               UNKNOWN
33      None               UNKNOWN
34      None               UNKNOWN
35      None               UNKNOWN
36      None               UNKNOWN
37      None               UNKNOWN
38      None               UNKNOWN
39      None               UNKNOWN
40      None               UNKNOWN
41      None               UNKNOWN
42      None               UNKNOWN
43      None               UNKNOWN
44      None               UNKNOWN
45      None               UNKNOWN
46      None               UNKNOWN
47      None               UNKNOWN
48      None               UNKNOWN
49      None               UNKNOWN
50      None               UNKNOWN
51      None               UNKNOWN
52      None               UNKNOWN
53      None               UNKNOWN
54      None               UNKNOWN
55      None               UNKNOWN
56      None               UNKNOWN
57      None               UNKNOWN
58      None               UNKNOWN
59      None                  None
60      None                  None

In [32]:
#Create the appearance_type table with columns and primary key as shown in the schema diagram.
c9='''
    CREATE TABLE IF NOT EXISTS appearance_type (
    appearance_type_id TEXT PRIMARY KEY,
    name TEXT,
    category TEXT
    );
'''
run_command(c9)

#Import and insert the data from appearance_type.csv.
appearance=pd.read_csv("appearance_type.csv")

with sqlite3.connect('mlb.db') as conn:    
    conn.execute("DROP TABLE IF EXISTS {};".format("appearance_type"))
    appearance.to_sql("appearance_type",conn,index=False,if_exists='append')

#Write a query to display the first few rows of the table.
q5='''
    SELECT * FROM appearance_type
'''
print(run_query(q5))

   appearance_type_id                name category
0                  O1            Batter 1  offense
1                  O2            Batter 2  offense
2                  O3            Batter 3  offense
3                  O4            Batter 4  offense
4                  O5            Batter 5  offense
5                  O6            Batter 6  offense
6                  O7            Batter 7  offense
7                  O8            Batter 8  offense
8                  O9            Batter 9  offense
9                  D1             Pitcher  defense
10                 D2             Catcher  defense
11                 D3            1st Base  defense
12                 D4            2nd Base  defense
13                 D5            3rd Base  defense
14                 D6           Shortstop  defense
15                 D7          Left Field  defense
16                 D8        Center Field  defense
17                 D9         Right Field  defense
18                D10    Unknown Position  defense
19                UHP          Home Plate   umpire
20                U1B          First Base   umpire
21                U2B         Second Base   umpire
22                U3B          Third Base   umpire
23                ULF          Left Field   umpire
24                URF         Right Field   umpire
25                 MM             Manager  manager
26                AWP     Winning Pitcher    award
27                ALP      Losing Pitcher    award
28                ASP      Saving Pitcher    award
29                AWB  Winning RBI Batter    award
30                PSP    Starting Pitcher  pitcher

## 6. Adding the Team and Game Tables

In [33]:
#Create the team table with columns, primary key, and foreign key as shown in the schema diagram.
c10='''
    CREATE TABLE IF NOT EXISTS team (
    team_id TEXT PRIMARY KEY,
    league_id TEXT,
    city TEXT,
    nickname TEXT,
    franch_id TEXT
    );
'''
run_command(c10)

#Insert the data from the team_codes table.
c11='''
    INSERT OR IGNORE INTO team 
    SELECT 
        team_id,
        league,
        city,
        nickname,
        franch_id
    FROM team_codes 
    ;
'''
run_command(c11)

#Write a query to display the first few rows of the table.
q6='''
    SELECT * FROM team
'''
print(run_query(q6))

    team_id league_id           city         nickname franch_id
0       ALT        UA        Altoona  Mountain Cities       ALT
1       ARI        NL        Arizona     Diamondbacks       ARI
2       BFN        NL        Buffalo           Bisons       BFN
3       BFP        PL        Buffalo           Bisons       BFP
4       BL1      None      Baltimore         Canaries       BL1
5       BL2        AA      Baltimore          Orioles       BL2
6       BLN        NL      Baltimore          Orioles       BL2
7       BL4      None      Baltimore        Marylands       BL4
8       BLA        AL      Baltimore          Orioles       BLA
9       NYA        AL       New York          Yankees       BLA
10      BLF        FL      Baltimore        Terrapins       BLF
11      BLU        UA      Baltimore           Unions       BLU
12      BOS        AL         Boston          Red Sox       BOS
13      BR1      None       Brooklyn         Eckfords       BR1
14      BR2      None       Brooklyn        Atlantics       BR2
15      BR3        AA       Brooklyn          Dodgers       BR3
16      BRO        NL       Brooklyn          Dodgers       BR3
17      LAN        NL    Los Angeles          Dodgers       BR3
18      BR4        AA       Brooklyn       Gladiators       BR4
19      BRF        FL       Brooklyn         Tip-Tops       BRF
20      BRP        PL       Brooklyn          Wonders       BRP
21      BS1      None         Boston           Braves       BS1
22      BSN        NL         Boston           Braves       BS1
23      MLN        NL      Milwaukee           Braves       BS1
24      ATL        NL        Atlanta           Braves       BS1
25      BSP        PL         Boston             Reds       BSP
26      BS2        AA         Boston             Reds       BSP
27      BSU        UA         Boston             Reds       BSU
28      BUF        FL        Buffalo             Feds       BUF
29      CH1      None        Chicago  White Stockings       CH1
30      CH2      None        Chicago  White Stockings       CH2
31      CHN        NL        Chicago             Cubs       CH2
32      CHA        AL        Chicago        White Sox       CHA
33      CHF        FL        Chicago           Whales       CHF
34      CHP        PL        Chicago          Pirates       CHP
35      CHU        UA        Chicago           Unions       CHU
36      CL1      None      Cleveland    Forest Cities       CL1
37      CL2        NL      Cleveland          Spiders       CL2
38      CL3        AA      Cleveland          Spiders       CL3
39      CL4        NL      Cleveland          Spiders       CL3
40      CL5        AA       Columbus            Colts       CL5
41      CL6        AA       Columbus            Colts       CL6
42      CLE        AL      Cleveland          Indians       CLE
43      CLP        PL      Cleveland          Infants       CLP
44      CN1        NL     Cincinnati             Reds       CN1
45      CN2        AA     Cincinnati             Reds       CN2
46      CIN        NL     Cincinnati             Reds       CN2
47      CN3        AA     Cincinnati          Porkers       CN3
48      CNU        UA     Cincinnati      Outlaw Reds       CNU
49      COL        NL       Colorado          Rockies       COL
50      DET        AL        Detroit           Tigers       DET
51      DTN        NL        Detroit       Wolverines       DTN
52      ELI      None      Elizabeth        Resolutes       ELI
53      FLO        NL        Florida          Marlins       FLO
54      FW1      None      Ft. Wayne        Kekiongas       FW1
55      HOU        NL        Houston           Astros       HOU
56      HR1      None       Hartford       Dark Blues       HR1
57      HAR        NL       Hartford       Dark Blues       HR1
58      IN1        NL   Indianapolis            Blues       IN1
59      IN2        AA   Indianapolis            Blues       IN2
60      IN3        NL   Indianapolis         Hoosiers       IN3
61      IND        FL   Indianapolis     Hoosier-Feds       IND
62      NEW        FL         Newark          Peppers       IND
63      KC2        AA    Kansas City            Blues       KC2
64      KCA        AL    Kansas City           Royals       KCA
65      KCF        FL    Kansas City          Packers       KCF
66      KCN        NL    Kansas City          Cowboys       KCN
67      KCU        UA    Kansas City           Unions       KCU
68      KEO      None         Keokuk         Westerns       KEO
69      LAA        AL    Los Angeles           Angels       LAA
70      CAL        AL     California           Angels       LAA
71      ANA        AL        Anaheim           Angels       LAA
72      LS1        NL     Louisville            Grays       LS1
73      LS2        AA     Louisville         Colonels       LS2
74      LS3        NL     Louisville         Colonels       LS2
75      MID      None     Middletown       Mansfields       MID
76      ML2        NL      Milwaukee      Cream Citys       ML1
77      ML3        AA      Milwaukee          Brewers       ML3
78      MLA        AL      Milwaukee          Brewers       MLA
79      SLA        AL      St. Louis           Browns       MLA
80      BAL        AL      Baltimore          Orioles       MLA
81      MLU        UA      Milwaukee            Grays       MLU
82      MON        NL       Montreal            Expos       MON
83      WAS        NL     Washington        Nationals       MON
84      NH1      None      New Haven       Elm Cities       NH1
85      NY2      None       New York          Mutuals       NY2
86      NY3        NL       New York          Mutuals       NY2
87      NY4        AA       New York    Metropolitans       NY4
88      NYN        NL       New York             Mets       NYN
89      NYP        PL       New York           Giants       NYP
90      PH1      None   Philadelphia        Athletics       PH1
91      PHN        NL   Philadelphia        Athletics       PH1
92      PH2      None   Philadelphia  White Stockings       PH2
93      PH3      None   Philadelphia      Centennials       PH3
94      PH4        AA   Philadelphia        Athletics       PH4
95      PHI        NL   Philadelphia         Phillies       PHI
96      PHA        AL   Philadelphia        Athletics       PHA
97      KC1        AL    Kansas City        Athletics       PHA
98      OAK        AL        Oakland        Athletics       PHA
99      PHP        PL   Philadelphia          Quakers       PHP
100     PHU        UA   Philadelphia        Keystones       PHU
101     PRO        NL     Providence            Grays       PRO
102     PT1        AA     Pittsburgh          Pirates       PT1
103     PIT        NL     Pittsburgh          Pirates       PT1
104     PTF        FL     Pittsburgh           Rebels       PTF
105     PTP        PL     Pittsburgh         Burghers       PTP
106     PTU        UA     Pittsburgh           Unions       PTU
107     RC1      None       Rockford     Forest Citys       RC1
108     RC2        AA      Rochester      Hop Bitters       RC2
109     RIC        AA       Richmond        Virginias       RIC
110     SDN        NL      San Diego           Padres       SDN
111     SE1        AL        Seattle           Pilots       SE1
112     MIL        AL      Milwaukee          Brewers       SE1
113     SEA        AL        Seattle         Mariners       SEA
114     SL1      None      St. Louis    Red Stockings       SL1
115     SL2      None      St. Louis  Brown Stockings       SL2
116     SL3        NL      St. Louis  Brown Stockings       SL2
117     SL4        AA      St. Louis        Cardinals       SL4
118     SLN        NL      St. Louis        Cardinals       SL4
119     SLF        FL      St. Louis         Terriers       SLF
120     SLU        UA      St. Louis          Maroons       SLU
121     SL5        NL      St. Louis          Maroons       SLU
122     SPU        UA       St. Paul           Saints       SPU
123     SR1        NL       Syracuse            Stars       SR1
124     SR2        AA       Syracuse            Stars       SR2
125     TBA        AL      Tampa Bay       Devil Rays       TBA
126     TL1        AA         Toledo   Blue Stockings       TL1
127     TL2        AA         Toledo          Maumees       TL2
128     TOR        AL        Toronto        Blue Jays       TOR
129     TRN        NL           Troy          Trojans       TRN
130     NY1        NL       New York           Giants       TRN
131     SFN        NL  San Francisco           Giants       TRN
132     TRO      None           Troy        Haymakers       TRO
133     WIL        UA     Wilmington       Quicksteps       WIL
134     WOR        NL      Worcester        Ruby Legs       WOR
135     WS1        AL     Washington         Senators       WS1
136     MIN        AL      Minnesota            Twins       WS1
137     WS2        AL     Washington         Senators       WS2
138     TEX        AL          Texas          Rangers       WS2
139     WS3      None     Washington         Olympics       WS3
140     WS4      None     Washington        Nationals       WS4
141     WS5      None     Washington        Nationals       WS5
142     WS6      None     Washington        Nationals       WS6
143     WS7        AA     Washington        Nationals       WS7
144     WS8        NL     Washington         Senators       WS8
145     WS9        AA     Washington         Senators       WS9
146     WSN        NL     Washington         Senators       WS9
147     WSU        UA     Washington        Nationals       WSU
148     MIA        NL          Miami          Marlins       FLO

In [34]:
#Create the game table with columns, primary key, and foreign key as shown in the schema diagram.
c12='''
    CREATE TABLE IF NOT EXISTS game (
    game_id TEXT PRIMARY KEY,
    date TEXT,
    number_of_game INTEGER,
    park_id TEXT,
    lenght_outs INTEGER,
    day INTEGER,
    completion TEXT,
    forfeit TEXT,
    protest TEXT,
    attendance INTEGER,
    length_minutes INTEGER,
    additional_info TEXT,
    acquisition_info TEXT
    );
'''
run_command(c12)

#Insert the data from the game_log table.
c13='''
    INSERT OR IGNORE INTO game 
    SELECT 
        game_id,
        date,
        number_of_game,
        park_id,
        length_outs,
        CASE
           WHEN day_night="D" THEN 1
           WHEN day_night="N" THEN 0
           ELSE NULL
           END
        AS day_night,
        completion,
        forefeit,
        protest,
        attendance,
        length_minutes,
        additional_info,
        acquisition_info
    FROM game_log 
    ;
'''
run_command(c13)

#Write a query to display the first few rows of the table.
q7='''
    SELECT * FROM game
    LIMIT 10
'''
print(run_query(q7))

        game_id      date  number_of_game park_id  lenght_outs day completion  \
0  18710504FW10  18710504               0   FOR01           54   D       None
1  18710505WS30  18710505               0   WAS01           54   D       None
2  18710506RC10  18710506               0   RCK01           54   D       None
3  18710508CH10  18710508               0   CHI01           54   D       None
4  18710509TRO0  18710509               0   TRO01           54   D       None
5  18710511CL10  18710511               0   CLE01           48   D       None
6  18710513CL10  18710513               0   CIN01           54   D       None
7  18710513FW10  18710513               0   FOR01           54   D       None
8  18710515FW10  18710515               0   FOR01           54   D       None
9  18710516BS10  18710516               0   BOS01           54   D       None

  forfeit protest  attendance  length_minutes additional_info acquisition_info
0    None    None       200.0           120.0            None                Y
1    None    None      5000.0           145.0            HTBF                Y
2    None    None      1000.0           140.0            None                Y
3    None    None      5000.0           150.0            None                Y
4    None    None      3250.0           145.0            HTBF                Y
5       V    None      2500.0           120.0            None                Y
6    None    None      1200.0           150.0            None                Y
7    None    None      1500.0           105.0            None                Y
8    None    None         NaN           140.0            None                Y
9    None    None      2500.0             NaN            HTBF                Y

## 7. Adding the Team Appearance Table

In [37]:
#Read the contents of the file "game_log_fields.txt" from Retrosheet which explains the fields included in our main file, which will be useful to assist our EDA. 
!cat game_log_fields.txt

Field(s)  Meaning
    1     Date in the form "yyyymmdd"
    2     Number of game:
             "0" -- a single game
             "1" -- the first game of a double (or triple) header
                    including seperate admission doubleheaders
             "2" -- the second game of a double (or triple) header
                    including seperate admission doubleheaders
             "3" -- the third game of a triple-header
             "A" -- the first game of a double-header involving 3 teams
             "B" -- the second game of a double-header involving 3 teams
    3     Day of week  ("Sun","Mon","Tue","Wed","Thu","Fri","Sat")
  4-5     Visiting team and league
    6     Visiting team game number
          For this and the home team game number, ties are counted as
          games and suspended games are counted from the starting
          rather than the ending date.
  7-8     Home team and league
    9     Home team game number
10-11     Visiting and home team score (unquoted)
   12     Length of game in outs (unquoted).  A full 9-inning game would
          have a 54 in this field.  If the home team won without batting
          in the bottom of the ninth, this field would contain a 51.
   13     Day/night indicator ("D" or "N")
   14     Completion information.  If the game was completed at a
          later date (either due to a suspension or an upheld protest)
          this field will include:
             "yyyymmdd,park,vs,hs,len" Where
          yyyymmdd -- the date the game was completed
          park -- the park ID where the game was completed
          vs -- the visitor score at the time of interruption
          hs -- the home score at the time of interruption
          len -- the length of the game in outs at time of interruption
          All the rest of the information in the record refers to the
          entire game.
   15     Forfeit information:
             "V" -- the game was forfeited to the visiting team
             "H" -- the game was forfeited to the home team
             "T" -- the game was ruled a no-decision
   16     Protest information:
             "P" -- the game was protested by an unidentified team
             "V" -- a disallowed protest was made by the visiting team
             "H" -- a disallowed protest was made by the home team
             "X" -- an upheld protest was made by the visiting team
             "Y" -- an upheld protest was made by the home team
          Note: two of these last four codes can appear in the field
          (if both teams protested the game).
   17     Park ID
   18     Attendance (unquoted)
   19     Time of game in minutes (unquoted)
20-21     Visiting and home line scores.  For example:
             "010000(10)0x"
          Would indicate a game where the home team scored a run in
          the second inning, ten in the seventh and didn't bat in the
          bottom of the ninth.
22-38     Visiting team offensive statistics (unquoted) (in order):
             at-bats
             hits
             doubles
             triples
             homeruns
             RBI
             sacrifice hits.  This may include sacrifice flies for years
                prior to 1954 when sacrifice flies were allowed.
             sacrifice flies (since 1954)
             hit-by-pitch
             walks
             intentional walks
             strikeouts
             stolen bases
             caught stealing
             grounded into double plays
             awarded first on catcher's interference
             left on base
39-43     Visiting team pitching statistics (unquoted)(in order):
             pitchers used ( 1 means it was a complete game )
             individual earned runs
             team earned runs
             wild pitches
             balks
44-49     Visiting team defensive statistics (unquoted) (in order):
             putouts.  Note: prior to 1931, this may not equal 3 times
                the number of innings pitched.  Prior to that, no
                putout was awarded when a runner was declared out for
                being hit by a batted ball.
             assists
             errors
             passed balls
             double plays
             triple plays
50-66     Home team offensive statistics
67-71     Home team pitching statistics
72-77     Home team defensive statistics
78-79     Home plate umpire ID and name
80-81     1B umpire ID and name
82-83     2B umpire ID and name
84-85     3B umpire ID and name
86-87     LF umpire ID and name
88-89     RF umpire ID and name
          If any umpire positions were not filled for a particular game
          the fields will be "","(none)".
90-91     Visiting team manager ID and name
92-93     Home team manager ID and name
94-95     Winning pitcher ID and name
96-97     Losing pitcher ID and name
98-99     Saving pitcher ID and name--"","(none)" if none awarded
100-101   Game Winning RBI batter ID and name--"","(none)" if none
          awarded
102-103   Visiting starting pitcher ID and name
104-105   Home starting pitcher ID and name
106-132   Visiting starting players ID, name and defensive position,
          listed in the order (1-9) they appeared in the batting order.
133-159   Home starting players ID, name and defensive position
          listed in the order (1-9) they appeared in the batting order.
  160     Additional information.  This is a grab-bag of informational
          items that might not warrant a field on their own.  The field
          is alpha-numeric. Some items are represented by tokens such as:
             "HTBF" -- home team batted first.
             Note: if "HTBF" is specified it would be possible to see
             something like "01002000x" in the visitor's line score.
          Changes in umpire positions during a game will also appear in
          this field.  These will be in the form:
             umpchange,inning,umpPosition,umpid with the latter three
             repeated for each umpire.
          These changes occur with umpire injuries, late arrival of
          umpires or changes from completion of suspended games. Details
          of suspended games are in field 14.
  161     Acquisition information:
             "Y" -- we have the complete game
             "N" -- we don't have any portion of the game
             "D" -- the game was derived from box score and game story
             "P" -- we have some portion of the game.  We may be missing
                    innings at the beginning, middle and end of the game.

Missing fields will be NULL.


In [60]:
print(liste[3:49].str.replace("v_",""))

Index(['name', 'league', 'game_number', 'h_name', 'h_league', 'h_game_number',
       'score', 'h_score', 'length_outs', 'day_night', 'completion',
       'forefeit', 'protest', 'park_id', 'attendance', 'length_minutes',
       'line_score', 'h_line_score', 'at_bats', 'hits', 'doubles', 'triples',
       'homeruns', 'rbi', 'sacrifice_hits', 'sacrifice_flies', 'hit_by_pitch',
       'walks', 'intentional_walks', 'strikeouts', 'stolen_bases',
       'caught_stealing', 'grounded_into_double', 'first_catcher_interference',
       'left_on_base', 'pitchers_used', 'individual_earned_runs',
       'team_earned_runs', 'wild_pitches', 'balks', 'putouts', 'assists',
       'errors', 'passed_balls', 'double_plays', 'triple_plays'],
      dtype='object')

In [66]:
##Create the team_appearance table with columns, primary key, and foreign keys as shown in the schema diagram.
c14='''
    CREATE TABLE IF NOT EXISTS team_appearance (
    team_id TEXT,
    game_id TEXT,
    home BOOLEAN,
    league_id TEXT,
    score INTEGER,
    line_score INTEGER,
    at_bats INTEGER,
    hits INTEGER,
    doubles INTEGER,
    triples INTEGER,
    homeruns INTEGER,
    rbi INTEGER,
    sacrifice_hits INTEGER,
    sacrifice_flies INTEGER,
    hit_by_pitch INTEGER,
    walks INTEGER,
    intentional_walks INTEGER,
    strikeouts INTEGER,
    stolen_bases INTEGER,
    caught_stealing INTEGER,
    grounded_into_double INTEGER,
    first_catcher_interference INTEGER,
    left_on_base INTEGER,
    pitchers_used INTEGER,
    individual_earned_runs INTEGER,
    team_earned_runs INTEGER,
    wild_pitches INTEGER,
    balks INTEGER,
    putouts INTEGER,
    assists INTEGER,
    errors INTEGER,
    passed_balls INTEGER,
    double_plays INTEGER,
    triple_plays INTEGER,
    PRIMARY KEY (team_id,game_id),
    FOREIGN KEY (team_id) REFERENCES team(team_id),
    FOREIGN KEY (game_id) REFERENCES game(game_id),
    FOREIGN KEY (league_id) REFERENCES game(league_id)
    );
'''
run_command(c14)

#Insert the data from the game_log table, using a UNION clause to combine the data from the column sets for the home and away teams.
c15='''
    INSERT OR IGNORE INTO team_appearance 
        SELECT 
            h_name,
            game_id,
            1 AS home,
            h_league,
            h_score,
            h_line_score,
            h_at_bats,
            h_hits,
            h_doubles,
            h_triples,
            h_homeruns,
            h_rbi,
            h_sacrifice_hits,
            h_sacrifice_flies,
            h_hit_by_pitch,
            h_walks,
            h_intentional_walks,
            h_strikeouts,
            h_stolen_bases,
            h_caught_stealing,
            h_grounded_into_double,
            h_first_catcher_interference,
            h_left_on_base,
            h_pitchers_used,
            h_individual_earned_runs,
            h_team_earned_runs,
            h_wild_pitches,
            h_balks,
            h_putouts,
            h_assists,
            h_errors,
            h_passed_balls,
            h_double_plays,
            h_triple_plays
        FROM game_log
    UNION
        SELECT
            v_name,
            game_id,
            0 AS home,
            v_league,
            v_score,
            v_line_score,
            v_at_bats,
            v_hits,
            v_doubles,
            v_triples,
            v_homeruns,
            v_rbi,
            v_sacrifice_hits,
            v_sacrifice_flies,
            v_hit_by_pitch,
            v_walks,
            v_intentional_walks,
            v_strikeouts,
            v_stolen_bases,
            v_caught_stealing,
            v_grounded_into_double,
            v_first_catcher_interference,
            v_left_on_base,
            v_pitchers_used,
            v_individual_earned_runs,
            v_team_earned_runs,
            v_wild_pitches,
            v_balks,
            v_putouts,
            v_assists,
            v_errors,
            v_passed_balls,
            v_double_plays,
            v_triple_plays
        FROM game_log
    ;
'''
run_command(c15)

#Write a query to verify that your data was inserted correctly.
q8='''
SELECT * FROM team_appearance
WHERE game_id = (
                 SELECT MIN(game_id) from game
                )
   OR game_id = (
                 SELECT MAX(game_id) from game
                )
ORDER By game_id, home;
'''
print(run_query(q8))

  team_id       game_id  home league_id  score line_score  at_bats  hits  \
0     CL1  18710504FW10     0      None      0          0       30     4
1     FW1  18710504FW10     1      None      2   10010000       31     4
2     MIA  20161002WAS0     0        NL      7     230020       38    14
3     WAS  20161002WAS0     1        NL     10  03023002x       30    10

   doubles  triples  homeruns  rbi  sacrifice_hits  sacrifice_flies  \
0        1        0         0    0               0                0
1        1        0         0    2               0                0
2        1        1         2    7               1                0
3        2        0         1   10               1                1

   hit_by_pitch  walks  intentional_walks  strikeouts  stolen_bases  \
0             0      1                NaN           6             1
1             0      1                NaN           0             0
2             0      3                2.0          10             1
3             1      8                0.0           3             2

   caught_stealing  grounded_into_double  first_catcher_interference  \
0              NaN                    -1                         NaN
1              NaN                    -1                         NaN
2              1.0                     1                         0.0
3              0.0                     1                         0.0

   left_on_base  pitchers_used  individual_earned_runs  team_earned_runs  \
0             4              1                       1                 1
1             3              1                       0                 0
2             8              7                      10                10
3             7              6                       7                 7

   wild_pitches  balks  putouts  assists  errors  passed_balls  double_plays  \
0             0      0       27        9       0             3             0
1             0      0       27        3       3             1             1
2             1      0       24       11       0             0             1
3             1      0       27       11       0             0             1

   triple_plays
0             0
1             0
2             0
3             0

In [53]:
#Extract the schema from the game_log table
q9='''SELECT sql FROM sqlite_master
    WHERE name = "game_log"
    AND type = "table";
    '''
print(run_query(q9))

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      sql
0  CREATE TABLE "game_log" (\n"date" INTEGER,\n  "number_of_game" INTEGER,\n  "day_of_week" TEXT,\n  "v_name" TEXT,\n  "v_league" TEXT,\n  "v_game_number" INTEGER,\n  "h_name" TEXT,\n  "h_league" TEXT,\n  "h_game_number" INTEGER,\n  "v_score" INTEGER,\n  "h_score" INTEGER,\n  "length_outs" REAL,\n  "day_night" TEXT,\n  "completion" TEXT,\n  "forefeit" TEXT,\n  "protest" TEXT,\n  "park_id" TEXT,\n  "attendance" REAL,\n  "length_minutes" REAL,\n  "v_line_score" TEXT,\n  "h_line_score" TEXT,\n  "v_at_bats" REAL,\n  "v_hits" REAL,\n  "v_doubles" REAL,\n  "v_triples" REAL,\n  "v_homeruns" REAL,\n  "v_rbi" REAL,\n  "v_sacrifice_hits" REAL,\n  "v_sacrifice_flies" REAL,\n  "v_hit_by_pitch" REAL,\n  "v_walks" REAL,\n  "v_intentional_walks" REAL,\n  "v_strikeouts" REAL,\n  "v_stolen_bases" REAL,\n  "v_caught_stealing" REAL,\n  "v_grounded_into_double" REAL,\n  "v_first_catcher_interference" REAL,\n  "v_left_on_base" REAL,\n  "v_pitchers_used" REAL,\n  "v_individual_earned_runs" REAL,\n  "v_team_earned_runs" REAL,\n  "v_wild_pitches" REAL,\n  "v_balks" REAL,\n  "v_putouts" REAL,\n  "v_assists" REAL,\n  "v_errors" REAL,\n  "v_passed_balls" REAL,\n  "v_double_plays" REAL,\n  "v_triple_plays" REAL,\n  "h_at_bats" REAL,\n  "h_hits" REAL,\n  "h_doubles" REAL,\n  "h_triples" REAL,\n  "h_homeruns" REAL,\n  "h_rbi" REAL,\n  "h_sacrifice_hits" REAL,\n  "h_sacrifice_flies" REAL,\n  "h_hit_by_pitch" REAL,\n  "h_walks" REAL,\n  "h_intentional_walks" REAL,\n  "h_strikeouts" REAL,\n  "h_stolen_bases" REAL,\n  "h_caught_stealing" REAL,\n  "h_grounded_into_double" REAL,\n  "h_first_catcher_interference" REAL,\n  "h_left_on_base" REAL,\n  "h_pitchers_used" REAL,\n  "h_individual_earned_runs" REAL,\n  "h_team_earned_runs" REAL,\n  "h_wild_pitches" REAL,\n  "h_balks" REAL,\n  "h_putouts" REAL,\n  "h_assists" REAL,\n  "h_errors" REAL,\n  "h_passed_balls" REAL,\n  "h_double_plays" REAL,\n  "h_triple_plays" REAL,\n  "hp_umpire_id" TEXT,\n  "hp_umpire_name" TEXT,\n  "1b_umpire_id" TEXT,\n  "1b_umpire_name" TEXT,\n  "2b_umpire_id" TEXT,\n  "2b_umpire_name" TEXT,\n  "3b_umpire_id" TEXT,\n  "3b_umpire_name" TEXT,\n  "lf_umpire_id" TEXT,\n  "lf_umpire_name" TEXT,\n  "rf_umpire_id" TEXT,\n  "rf_umpire_name" TEXT,\n  "v_manager_id" TEXT,\n  "v_manager_name" TEXT,\n  "h_manager_id" TEXT,\n  "h_manager_name" TEXT,\n  "winning_pitcher_id" TEXT,\n  "winning_pitcher_name" TEXT,\n  "losing_pitcher_id" TEXT,\n  "losing_pitcher_name" TEXT,\n  "saving_pitcher_id" TEXT,\n  "saving_pitcher_name" TEXT,\n  "winning_rbi_batter_id" TEXT,\n  "winning_rbi_batter_id_name" TEXT,\n  "v_starting_pitcher_id" TEXT,\n  "v_starting_pitcher_name" TEXT,\n  "h_starting_pitcher_id" TEXT,\n  "h_starting_pitcher_name" TEXT,\n  "v_player_1_id" TEXT,\n  "v_player_1_name" TEXT,\n  "v_player_1_def_pos" REAL,\n  "v_player_2_id" TEXT,\n  "v_player_2_name" TEXT,\n  "v_player_2_def_pos" REAL,\n  "v_player_3_id" TEXT,\n  "v_player_3_name" TEXT,\n  "v_player_3_def_pos" REAL,\n  "v_player_4_id" TEXT,\n  "v_player_4_name" TEXT,\n  "v_player_4_def_pos" REAL,\n  "v_player_5_id" TEXT,\n  "v_player_5_name" TEXT,\n  "v_player_5_def_pos" REAL,\n  "v_player_6_id" TEXT,\n  "v_player_6_name" TEXT,\n  "v_player_6_def_pos" REAL,\n  "v_player_7_id" TEXT,\n  "v_player_7_name" TEXT,\n  "v_player_7_def_pos" REAL,\n  "v_player_8_id" TEXT,\n  "v_player_8_name" TEXT,\n  "v_player_8_def_pos" REAL,\n  "v_player_9_id" TEXT,\n  "v_player_9_name" TEXT,\n  "v_player_9_def_pos" REAL,\n  "h_player_1_id" TEXT,\n  "h_player_1_name" TEXT,\n  "h_player_1_def_pos" REAL,\n  "h_player_2_id" TEXT,\n  "h_player_2_name" TEXT,\n  "h_player_2_def_pos" REAL,\n  "h_player_3_id" TEXT,\n  "h_player_3_name" TEXT,\n  "h_player_3_def_pos" REAL,\n  "h_player_4_id" TEXT,\n  "h_player_4_name" TEXT,\n  "h_player_4_def_pos" REAL,\n  "h_player_5_id" TEXT,\n  "h_player_5_name" TEXT,\n  "h_player_5_def_pos" REAL,\n  "h_player_6_id" TEXT,\n  "h_player_6_name" TEXT,\n  "h_player_6_def_pos" REAL,\n  "h_player_7_id" TEXT,\n  "h_player_7_name" TEXT,\n  "h_player_7_def_pos" REAL,\n  "h_player_8_id" TEXT,\n  "h_player_8_name" TEXT,\n  "h_player_8_def_pos" REAL,\n  "h_player_9_id" TEXT,\n  "h_player_9_name" TEXT,\n  "h_player_9_def_pos" REAL,\n  "additional_info" TEXT,\n  "acquisition_info" TEXT\n, game_id TEXT)

## 8. Adding the Person Appearance Table

In [ ]:
#Create the person_appearance table with columns, primary key, and foreign keys as shown in the schema diagram.
#In SQLite, if you have an integer primary key and don't specify a value for this column when inserting rows, SQLite will autoincrement this column for you.
c16='''
    CREATE TABLE IF NOT EXISTS person_appearance (
    appearance_id INTEGER PRIMARY KEY,
    person_id TEXT,
    team_id TEXT,
    game_id TEXT,
    appearance_type_id TEXT,
    FOREIGN KEY (person_id) REFERENCES person(person_id),
    FOREIGN KEY (team_id) REFERENCES team(team_id),
    FOREIGN KEY (game_id) REFERENCES game(game_id),
    FOREIGN KEY (appearance_type_id) REFERENCES appearance_type(appearance_type_id)
    );
'''
run_command(c16)

#Insert the data from the game_log table, using UNION clauses to combine the data from the columns for managers, umpires, pitchers, and awards.
#Use a loop with string formatting to insert the data for offensive and defensive positions from the game_log table.
c17='''
    INSERT OR IGNORE INTO person_appearance 
    SELECT 
        game_id,
        date,
        number_of_game,
        park_id,
        length_outs,
        CASE
           WHEN day_night="D" THEN 1
           WHEN day_night="N" THEN 0
           ELSE NULL
           END
        AS day_night,
        completion,
        forefeit,
        protest,
        attendance,
        length_minutes,
        additional_info,
        acquisition_info
    FROM game_log 
    ;
'''
run_command(c17)

#Write a query to verify that your data was inserted correctly.
q10='''
    SELECT * FROM person_appearance
    LIMIT 10
'''
print(run_query(q10))